<div ng-if="fic.menuEmpty()">Nothing found</div>
<div class="row">
  <div ng-repeat="item in fic.menuItems" class="card col-md-3 m-2 px-0">
    <div class="card-body">
      <h5 class="card-title text-center mb-2">{{item.name}}</h5>
      <h6 class="card-subtitle text-muted mb-2">{{item.short_name}}</h6>
      <p class="card-text">{{item.description}}</p>
    </div>
    <div class="card-footer text-center">
      <button ng-click="fic.onRemove({index: $index})" class="btn btn-danger">
        Don't want this one!
      </button>
    </div>
  </div>
</div>
