<div ng-if="fic.menuEmpty()">Nothing found</div>
<div class="row">
  <div class="card-deck">
    <div ng-repeat="item in fic.menuItems" class="card">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <h6 class="card-subtitle text-muted">{{item.short_name}}</h6>
        <p class="card-text">{{item.description}}</p>
        <button ng-click="fic.onRemove({index: $index})" class="btn btn-danger">
          Don't want this one!
        </button>
      </div>
    </div>
  </div>
</div>
